################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExcelMiniProject/ExcelMiniProject/Utilities/secretToken.json
/ExcelMiniProject/ExcelMiniProject/Utilities/secretToken.json
